@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#wrapper{
  max-width: 400px;
  margin: 40px auto;
}

#form{
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

input[type=text]{
  width: 70%;
  padding: 5px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  -khtml-border-radius: 3px; 
  outline: none; 
  font-size: 18px; 
}

input[type=button]{
  width: 20%;
  background-color: #baf24b;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=checkbox]{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

label::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса */
input[type=checkbox]:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для активного состояния чекбокса (при нажатии на него) */
input[type=checkbox]:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

label{
  cursor: pointer;
  min-width: 80%;
}

button{
  background-color: #ccc;
  color: white;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

p{
  text-align: center;
}

#mode{
  background-color: lightblue;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-radius: 10px 0px 0px 0px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  
}

/* dark mode */
.body-dark{
  background-color: black;
  color: grey;
}

.input-dark{
  background-color: #2e2e2e;
  color: white;
}

.mode-dark{
  background-color: #828282 !important;
}